In [75]:
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
import time

In [76]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/playlists"

In [77]:
engine = create_engine(db_string)

## this needs work but should be on track for dumping all track info to SQL

In [78]:
playlist_df = pd.read_csv(f'Resources/cleaned_final_playlists_df.csv')

In [79]:
playlist_df.head()

,Unnamed: 0,Playlist,Followers,Songs,Genre_1,Genre_2,URI,Song_URI,Popularity,Artist_Name,Song_Name
0,0,It's A Hit!,"2,283,522",50,Pop,Alternative,spotify:playlist:37i9dQZF1DWT1y71ZcMPe5,spotify:track:0skYUMpS0AcbpjcGsAbRGj,88,BLACKPINK,Pink Venom
1,1,It's A Hit!,"2,283,522",50,Pop,Alternative,spotify:playlist:37i9dQZF1DWT1y71ZcMPe5,spotify:track:7up4SX2l8FAnisrUXoGupd,70,Lukas Graham,Wish You Were Here (feat. Khalid)
2,2,It's A Hit!,"2,283,522",50,Pop,Alternative,spotify:playlist:37i9dQZF1DWT1y71ZcMPe5,spotify:track:4C6Uex2ILwJi9sZXRdmqXp,89,Nicki Minaj,Super Freaky Girl
3,3,It's A Hit!,"2,283,522",50,Pop,Alternative,spotify:playlist:37i9dQZF1DWT1y71ZcMPe5,spotify:track:0xzI1KAr0Yd9tv8jlIk3sn,90,benny blanco,Bad Decisions (with BTS & Snoop Dogg)
4,4,It's A Hit!,"2,283,522",50,Pop,Alternative,spotify:playlist:37i9dQZF1DWT1y71ZcMPe5,spotify:track:5rbuv6zso7QSaKt265H3M3,76,NIKI,High School in Jakarta

In [80]:
playlist_df.to_sql(name='playlists', con=engine)

ValueError: Table 'playlists' already exists.

In [82]:
# create a variable for the number of rows imported
rows_imported = 0

# get the start_time from time.time()
start_time = time.time()

for data in pd.read_csv(f'Resources/cleaned_final_playlists_df.csv', chunksize=1000000):

    # print out the range of rows that are being imported
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    
    data.to_sql(name='playlists', con=engine, if_exists='append')

    # increment the number of rows imported by the chunksize
    rows_imported += len(data)
    
    # print that the rows have finished importing along with elapsed time
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 8113...Done. 0.41411399841308594 total seconds elapsed

In [66]:
# create a variable for the number of rows imported
rows_imported = 0

# get the start_time from time.time()
start_time = time.time()

for data in pd.read_csv(f'Resources/features.csv', chunksize=1000000):

    # print out the range of rows that are being imported
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    
    data.to_sql(name='features', con=engine, if_exists='append')

    # increment the number of rows imported by the chunksize
    rows_imported += len(data)
    
    # print that the rows have finished importing along with elapsed time
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 6293...Done. 0.5634322166442871 total seconds elapsed