In [9]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [10]:
playlist_df = pd.read_csv(f'Resources/all_100_playlists_songs_cleaned.csv')

In [11]:
playlist_df.columns = playlist_df.columns.str.replace(' ','_')

In [12]:
playlist_df.head()

,Playlist,Followers,Songs,Genre_1,Genre_2,URI,Song_URI,Popularity,Artist_Name,Song_Name
0,It's A Hit!,"2,283,522",50,Pop,Alternative,spotify:playlist:37i9dQZF1DWT1y71ZcMPe5,spotify:track:0skYUMpS0AcbpjcGsAbRGj,88,BLACKPINK,Pink Venom
1,It's A Hit!,"2,283,522",50,Pop,Alternative,spotify:playlist:37i9dQZF1DWT1y71ZcMPe5,spotify:track:7up4SX2l8FAnisrUXoGupd,70,Lukas Graham,Wish You Were Here (feat. Khalid)
2,It's A Hit!,"2,283,522",50,Pop,Alternative,spotify:playlist:37i9dQZF1DWT1y71ZcMPe5,spotify:track:4C6Uex2ILwJi9sZXRdmqXp,89,Nicki Minaj,Super Freaky Girl
3,It's A Hit!,"2,283,522",50,Pop,Alternative,spotify:playlist:37i9dQZF1DWT1y71ZcMPe5,spotify:track:0xzI1KAr0Yd9tv8jlIk3sn,90,benny blanco,Bad Decisions (with BTS & Snoop Dogg)
4,It's A Hit!,"2,283,522",50,Pop,Alternative,spotify:playlist:37i9dQZF1DWT1y71ZcMPe5,spotify:track:5rbuv6zso7QSaKt265H3M3,76,NIKI,High School in Jakarta

In [13]:
playlist_df.to_csv('Resources/cleaned_final_playlists_df.csv')